<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.room.dao.AdhocStudyGatherMapper" >
 <select id="studyGather" resultType="java.util.HashMap" parameterType="java.util.HashMap" >
select DATE_FORMAT(order_date,
'%Y-%m-%d') as col1,
 ifnull(sum(total_hours),
0) as col2
 from order_info 
 where 1=1 
<if test="orderDate1!=null and orderDate1!=''">
 and order_date  &gt;= #{orderDate1}
</if>
<if test="orderDate2!=null and orderDate2!=''">
 and order_date  &lt;= #{orderDate2}
</if>
 and order_status!=#{orderStatus}
<if test="userId!=null and userId!=''">
 and user_id=#{userId}
</if>
group by DATE_FORMAT(order_date,'%Y-%m-%d')
order by col1 asc
</select>
</mapper>
