<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.room.dao.SysSettingInfoMapper">
  <resultMap id="BaseResultMap" type="com.room.model.SysSettingInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
        <result column="start_time" property="startTime" jdbcType="INTEGER" />
  <result column="end_time" property="endTime" jdbcType="INTEGER" />
  <result column="price" property="price" jdbcType="DOUBLE" />
  <result column="shop_name" property="shopName" jdbcType="VARCHAR" />
  <result column="shop_intro" property="shopIntro" jdbcType="VARCHAR" />
  <result column="address" property="address" jdbcType="VARCHAR" />

  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
     id,start_time,end_time,price,shop_name,shop_intro,address
  </sql>
  <select id="selectByExample" parameterType="com.room.model.SysSettingInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_setting_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
     <if test="startRow >= 0 and pageRows > 0">
  limit ${startRow},${pageRows}
  </if>

  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
     from sys_setting_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
   delete from sys_setting_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.room.model.SysSettingInfoExample">
    delete from sys_setting_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.room.model.SysSettingInfo">
      <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
  SELECT LAST_INSERT_ID()
</selectKey>

      insert into sys_setting_info (start_time,end_time,price,shop_name,shop_intro,address)
      values (	#{id,jdbcType=INTEGER},	#{startTime,jdbcType=INTEGER},	#{endTime,jdbcType=INTEGER},	#{price,jdbcType=DOUBLE},	#{shopName,jdbcType=VARCHAR},	#{shopIntro,jdbcType=VARCHAR},	#{address,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.room.model.SysSettingInfo">
   <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
  SELECT LAST_INSERT_ID()
</selectKey>

    insert into sys_setting_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null" >
	  id,
 </if>
<if test="startTime != null" >
	  start_time,
 </if>
<if test="endTime != null" >
	  end_time,
 </if>
<if test="price != null" >
	  price,
 </if>
<if test="shopName != null" >
	  shop_name,
 </if>
<if test="shopIntro != null" >
	  shop_intro,
 </if>
<if test="address != null" >
	  address
 </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
         <if test="id != null" >
	 #{id,jdbcType=INTEGER},
	 </if>
  <if test="startTime != null" >
	 #{startTime,jdbcType=INTEGER},
	 </if>
  <if test="endTime != null" >
	 #{endTime,jdbcType=INTEGER},
	 </if>
  <if test="price != null" >
	 #{price,jdbcType=DOUBLE},
	 </if>
  <if test="shopName != null" >
	 #{shopName,jdbcType=VARCHAR},
	 </if>
  <if test="shopIntro != null" >
	 #{shopIntro,jdbcType=VARCHAR},
	 </if>
  <if test="address != null" >
	 #{address,jdbcType=VARCHAR},
	 </if>

    </trim>
  </insert>
  <select id="countByExample" parameterType="com.room.model.SysSettingInfoExample" resultType="java.lang.Long">
    select count(*) from sys_setting_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sys_setting_info
    <set>
       <if test="record.startTime != null" >
	 start_time = #{record.startTime,jdbcType=INTEGER},
</if>
 <if test="record.endTime != null" >
	 end_time = #{record.endTime,jdbcType=INTEGER},
</if>
 <if test="record.price != null" >
	 price = #{record.price,jdbcType=DOUBLE},
</if>
 <if test="record.shopName != null" >
	 shop_name = #{record.shopName,jdbcType=VARCHAR},
</if>
 <if test="record.shopIntro != null" >
	 shop_intro = #{record.shopIntro,jdbcType=VARCHAR},
</if>
 <if test="record.address != null" >
	 address = #{record.address,jdbcType=VARCHAR}
</if>

    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sys_setting_info
    set 
    				start_time = #{record.startTime,jdbcType=INTEGER},	end_time = #{record.endTime,jdbcType=INTEGER},	price = #{record.price,jdbcType=DOUBLE},	shop_name = #{record.shopName,jdbcType=VARCHAR},	shop_intro = #{record.shopIntro,jdbcType=VARCHAR},	address = #{record.address,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.room.model.SysSettingInfo">
    update sys_setting_info
    <set>
       <if test="startTime != null" >
	 start_time = #{startTime,jdbcType=INTEGER},
</if>
 <if test="endTime != null" >
	 end_time = #{endTime,jdbcType=INTEGER},
</if>
 <if test="price != null" >
	 price = #{price,jdbcType=DOUBLE},
</if>
 <if test="shopName != null" >
	 shop_name = #{shopName,jdbcType=VARCHAR},
</if>
 <if test="shopIntro != null" >
	 shop_intro = #{shopIntro,jdbcType=VARCHAR},
</if>
 <if test="address != null" >
	 address = #{address,jdbcType=VARCHAR}
</if>

    </set>
     where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.room.model.SysSettingInfo">
    update sys_setting_info
    set 
     			start_time = #{startTime,jdbcType=INTEGER},	end_time = #{endTime,jdbcType=INTEGER},	price = #{price,jdbcType=DOUBLE},	shop_name = #{shopName,jdbcType=VARCHAR},	shop_intro = #{shopIntro,jdbcType=VARCHAR},	address = #{address,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
</mapper>
